.advantages {
  padding-top: 40px;
}

.advantages__title {
  @include container;
}

.advantages__slogan {
  margin-bottom: 30px;
}

.advantages__text {
  margin: 0;
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

.advantages__wrapper {
  background-color: $grey-light;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: url("../../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    width: 100%;
    top: 0;
  }

  &::after {
    position: absolute;
    content: "";
    background: url("../../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center top;
    height: 277px;
    width: 157px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.advantages__container {
  @include container;
  padding-top: 40px;
}

.advantages__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  padding-top: 42px;
  padding-bottom: 286px;
  text-align: center;
}

.advantages__item {
  margin-bottom: 32px;
}

.advantages__caption {
  margin: 0;
  padding-bottom: 11px;
  font-size: 18px;
  color: $black;
}

.advantages__description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 48px;
  }

  .advantages__slogan {
    margin-bottom: 50px;
  }

  .advantages__text {
    margin: 0;
    font-size: 40px;
    line-height: 48px;

    &:last-child {
      padding: 0 20px;
    }
  }

  .advantages__wrapper {
    &::after {
      display: none;
    }
  }

  .advantages__list {
    position: relative;
    padding-left: 309px;
    padding-top: 31px;
    padding-bottom: 0;
    min-height: 440px;
    text-align: left;
  }

  .advantages__item {
    margin-bottom: 35px;

    &--friend::before {
      content: "";
      position: absolute;
      background-image: url("../../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: center top;
      bottom: 0;
      left: 0;
      width: 268px;
      height: 481px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 66px;
  }

  .advantages__slogan {
    margin-bottom: 52px;
  }

  .advantages__text {
    font-size: 50px;
    line-height: 60px;

    &:last-child {
      padding: 0 110px;
    }
  }

  .advantages__list {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 342px;
    text-align: center;
  }

  .advantages__item {
    width: 240px;

    &--mood::before {
      content: "";
      position: absolute;
      background-image: url("../../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: center top;
      top: -16px;
      left: 55px;
      width: 190px;
      height: 301px;
    }

    &--world::before {
      content: "";
      position: absolute;
      background-image: url("../../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: center top;
      top: -16px;
      left: 378px;
      width: 190px;
      height: 301px;
    }

    &--friend::before {
      background-image: url("../../img/iphone-screen-3-desktop@1x.png");
      top: -16px;
      right: 52px;
      left: auto;
      width: 190px;
      height: 301px;
    }
  }

  .advantages__caption {
    padding-bottom: 26px;
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
  }
}
