.gallery__list {
  @include list-reset;

  padding: 56px 20px 0 20px;
  margin-bottom: 45px;
}

.gallery__item {
  padding: 25px 17px 28px 17px;
  background-color: $grey;
}

.gallery__photo {
  display: block;
  margin-bottom: 25px;
}

.gallery__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.gallery__likes {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;
}
