.gallery {
  padding-top: 46px;
}

.gallery__preview {
  margin: 0;
  padding: 0 37px;
  text-align: center;
}

.gallery__call {
  margin: 0;
  margin-bottom: 48px;
  padding: 0 30px;
  line-height: 30px;
  text-align: center;
}
