.intro {
  width: 100%;
  height: 396px;
  background-color: $blue-grey;
  background-image: url(../../img/iphone-hand-mobile@1x.png), url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: left bottom, center top;
}

.intro__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: $white;

}
