.intro {
  width: 100%;
  background-color: $blue-grey;

  &--index {
    display: flex;
    flex-direction: column;
    min-height: 667px;
    background-image: url("../../img/iphone-hand-mobile@1x.png"), url("../../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 110px, 0 -65px;
  }

  &--form {
    padding: 36px 20px 50px 20px;
    min-height: 170px;
    background-image: url("../../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 -65px;
  }
}

.intro__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: $white;

  &--index {
    min-height: 396px;
  }
}

@media (min-width: $tablet-width) {

}
