.main-nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: $blue-grey;
}

.main-nav__toggle {
  position: absolute;
  top: 23px;
  right: 20px;
  z-index: 2;
  display: block;
  border: 0;
  width: 50px;
  height: 24px;
  background: url("../../img/icon-menu-burger.svg");
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-nav__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid $black;
}

.site-list__item a {
  display: block;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: $white;
  text-transform: uppercase;
  border-top: 1px solid rgba($white, 0.15);
  border-bottom: 1px solid $black;
  text-align: center;

  &:hover,
  &:focus {
    color: $pink;
  }

  &:active {
    color: rgba($pink, 0.3);
  }
}

.site-list__item:last-child a {
  border: none;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    background-color: transparent;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    width: 640px;
    padding-left: 20px;
    padding-top: 35px;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 640px;
    border: none;
  }

  .site-list__item a {
    padding: 0;
    padding-top: 10px;
    text-transform: none;
    font-weight: 400;
    line-height: 18px;
    border: none;
    background-color: transparent;
  }
}
