.main-nav__list {
  @include list-reset;

  display: block;
  text-align: center;
}

.main-nav--opened .main-nav__list {
  margin-top: 4px;
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 19px;
  width: 50px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: $white;
  box-shadow: 0 8px 0 0 $white, 0 16px 0 0 $white;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $pink;
  box-shadow: 0 8px 0 0 $pink, 0 16px 0 0 $pink;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba($pink, 0.3);
  box-shadow: 0 8px 0 0 rgba($pink, 0.3), 0 16px 0 0 rgba($pink, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 21px;
  right: 19px;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 23px;

    width: 30px;
    height: 5px;

    background-color: $white;
    border-radius: 3px;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba($pink, 0.3);
  }

  &:hover::before,
  &:hover::after {
    background-color: $pink;
  }
}

@media (min-width: $tablet-width) {
  .main-nav--opened .main-nav__list {
    margin-top: 0;
  }

  .main-nav--closed .main-nav__toggle {
    top: 46px;
  }

  .main-nav--opened .main-nav__toggle {
    top: 44px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-left: auto;
    width: 760px;
    padding-top: 34px;
    padding-bottom: 36px;
    flex-shrink: 1;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    border-top: none;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (max-width: 959px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}
