.page-header {
  position: absolute;
  background-color: rgba($black, 0.3);
  color: $white;
  width: 100%;

  &--full {
    position: relative;
    background-color: $blue-grey;
  }
}

.page-header--full .page-header__wrapper {
  width: 100%;
}

.page-header__logo {
  display: inline-block;
  vertical-align: top;
  margin: 22px 20px 14px;
}

.page-header__logo-mobile {
  width: 75px;
  height: 23px;
  fill: $white;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $white;
    opacity: 0.3;
  }
}

.page-header__logo-tablet {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 110px;
  }

  .page-header--full .page-header__wrapper {
    width: 100%;
  }

  .page-header__logo {
    margin-top: 20px;
    margin-bottom: 43px;
    fill: $white;

    &:hover {
      fill: $pink;
    }

    &:active {
      fill: $white;
      opacity: 0.3;
    }
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
    width: 146px;
    height: 40px;
    margin-top: 7px;
  }

}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    background-color: rgba($black, 0.3);
  }

  .page-header__wrapper {
    @include container;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .page-header__logo {
    margin-left: 0;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
    width: 146px;
    height: 40px;
    margin-top: 6px;
    color: $white;
  }
}
