.photo-editor {
  background-color: $grey-light;
}

.photo-editor__inner {
  @include container;
}

.photo-editor__image {
  padding-top: 20px;
  margin: 0;
  width: 280px;
}

.photo-editor__image img {
  display: block;
}

.photo-editor__filter {
  display: flex;
  flex-direction: column;
  padding-top: 39px;
  padding-bottom: 41px;
}

.photo-editor__filter-wrapper {
  border-bottom: 1px solid $grey-dark;
}

.photo-editor__tools {
  @include list-reset;
  font-size: 0;
  position: relative;
  padding-bottom: 72px;
}

.photo-editor__tool {
  display: inline-block;
  vertical-align: top;
  padding-left: 34px;
}

.photo-editor__control {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 28px;
  background-color: $grey-light;

  &--crop {
    display: block;
  }
}

.photo-editor__tool-name {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 50px;
}

.photo-editor__tool-icon {
  fill: rgba($blue-grey, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    fill: rgba($blue-grey, 0.5);
  }

  &--active {
    fill: $pink;
  }

  &--crop {
    width: 48px;
    height: 48px;
  }

  &--fill {
    margin-top: 2px;
    width: 48px;
    height: 48px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }
}

.photo-editor__range {
  position: relative;
  height: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.photo-editor__range-scale {
  height: 2px;
  width: 240px;
  margin: 0 auto;
  background-color: $blue-grey;
}

.photo-editor__range-toggle {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 75%;
  border: 2px solid $pink;
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;
  outline: none;

  &:active,
  &:focus {
    background-color: $pink;
  }
}

.photo-editor__button {
  padding-top: 38px;
}

.photo-editor__upload-button {
  width: 100%;
  margin-bottom: 12px;
}

.photo-editor__cancel-button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .photo-editor__form {
    display: flex;
    padding-top: 59px;
  }

  .photo-editor__image {
    width: 300px;
    padding-top: 0;
    margin: 0;
  }

  .photo-editor__image img {
    width: 300px;
    height: 400px;
  }

  .photo-editor__filter {
    padding-top: 0;
    padding-bottom: 55px;
    margin-left: 45px;
    width: 272px;
    flex-grow: 1;
  }

  .photo-editor__filter-wrapper {
    padding: 0;
    border: none;
  }

  .photo-editor__tools {
    padding-bottom: 11px;
  }

  .photo-editor__tool {
    display: flex;
    padding-top: 7px;
    padding-bottom: 2px;
    padding-left: 0;
    margin-bottom: 18px;
    border-bottom: 1px solid $grey-dark;

    &--contrast {
      padding-top: 4px;
    }
  }

  .photo-editor__tool-name {
    margin-left: 2px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .photo-editor__tool-icon {
    fill: $pink;

    &--crop {
      width: 24px;
      height: 24px;
    }

    &--fill {
      width: 24px;
      height: 24px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }

  .photo-editor__control {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-right: 18px;
    width: 100%;
  }

  .photo-editor__range {
    padding-top: 11px;
  }

  .photo-editor__range-scale {
    width: 202px;
  }

  .photo-editor__range-toggle {
    top: 4px;
  }

  .photo-editor__button {
    margin-top: auto;
  }

  .photo-editor__button-inner {
    display: flex;
    flex-direction: column;
    padding-left: 2px;
    padding-right: 13px;
  }

  .photo-editor__upload-button {
    margin-bottom: 25px;
  }

  .photo-editor__range--crop .photo-editor__range-toggle {
    left: 72%;
  }

  .photo-editor__range--fill .photo-editor__range-toggle {
    left: 12%;
  }

  .photo-editor__range--contrast .photo-editor__range-toggle {
    left: 47%;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor {
    background-color: transparent;
  }

  .photo-editor__form {
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 53px;
    background-color: $grey-light;
  }

  .photo-editor__image {
    padding-bottom: 57px;
    padding-top: 5px;
  }

  .photo-editor__filter {
    padding-bottom: 57px;
    margin-left: 91px;
  }

  .photo-editor__tool {
    padding-top: 0;
    padding-bottom: 11px;
    margin-bottom: 13px;

    &--contrast {
      padding-top: 10px;
      padding-bottom: 12px;
    }

    &:nth-child(2) {
      margin-bottom: 0;
    }
  }

  .photo-editor__tool-name {
    margin: 0;
    width: 48px;
    height: 48px;
  }

  .photo-editor__tool-icon {
    &--crop {
      width: 48px;
      height: 48px;
      margin-left: -2px;
      margin-top: 1px;
    }

    &--fill {
      margin-top: 3px;
      width: 48px;
      height: 48px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
      margin-left: -2px;
    }
  }

  .photo-editor__control {
    padding-top: 14px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 44px;

    &--contrast {
      padding-top: 11px;
    }
  }

  .photo-editor__range-scale {
    width: 288px;
  }

  .photo-editor__button-inner {
    flex-direction: row;
    padding: 0;
    width: 100%;
  }

  .photo-editor__upload-button {
    margin-bottom: 0;
    width: 183px;
  }

  .photo-editor__cancel-button {
    width: 183px;
    margin-left: auto;
  }

  .photo-editor__range--crop .photo-editor__range-toggle {
    left: 24%;
  }

  .photo-editor__range--fill .photo-editor__range-toggle {
    left: 85%;
  }

  .photo-editor__range--contrast .photo-editor__range-toggle {
    left: 55%;
  }
}
