.photo {
  &--panorama {
    position: relative;
    margin-bottom: 20px;

    &::before {
      content: "Панорама дня";
      position: absolute;
      top: 0;
      right: 20px;
      width: 140px;
      padding: 6px 0;
      background-color: $pink;
      color: $white;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 24px;
      font-weight: 700;
      text-align: center;
      z-index: 10;
    }
  }

  &--item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 280px;
    min-height: 301px;
  }
}

.photo__inner {
  @include container;
}

.photo__list {
  display: flex;
  flex-wrap: wrap;
}

.photo__panorama {
  display: block;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

.photo__panorama img {
  display: block;
  width: 100%;
}

.photo__image {
  display: block;
}

.photo__image img {
  display: block;
}

.photo__description-wrapper {
  @include container;
}

.photo__description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 17px 17px 21px 17px;
  background-color: $grey-light;
}

.photo__author {
  margin: 0;
  font-weight: 700;
}

.photo__text {
  margin: 0;
  flex-grow: 1;
}

.photo__time {
  display: inline;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.photo__action {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.photo__like-button {
  width: 13px;
  height: 12px;
  border: none;
  padding: 0;
  text-indent: -1000px;
  overflow: hidden;
  background: url("../../img/icon-heart.svg") no-repeat center;
  background-size: 13px 12px;
  outline: none;
  cursor: pointer;
}

.photo__stats {
  margin-left: 19px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink;
  text-decoration: none;
}


@media (min-width: $tablet-width) {
  .photo {
    &--panorama {
      margin-bottom: 31px;

      &::before {
        top: 57px;
      }
    }

    &--item {
      width: 300px;
      min-height: 455px;
      margin-right: 20px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .photo__panorama {
    height: 509px;
  }

  .photo__panorama img {
    height: 509px;
  }

  .photo__image img {
    position: relative;
    height: 300px;
    width: auto;
    max-width: inherit;
    left: 50%;
    transform: translateX(-50%);
  }

  .photo__description {
    padding-top: 24px;
    padding-right: 31px;
    padding-bottom: 22px;
    padding-left: 28px;

    &--panorama {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-right: 29px;
      padding-bottom: 24px;
    }
  }

  .photo__description--panorama .photo__author {
    order: 1;
    flex-grow: 1;
  }

  .photo__description--panorama .photo__text {
    order: 3;
  }

  .photo__action {
    margin-top: 12px;
    padding-left: 0;

    &--panorama {
      margin-top: 0;
      order: 2;
    }
  }

  .photo__stats {
    margin-left: 0;
    order: -1;
    margin-right: auto;

    &--panorama {
      margin-right: 17px;
    }
  }

  .photo__list {
    padding-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .photo {
    &--panorama {
      margin-bottom: 50px;

      &::before {
        top: 53px;
        right: 10px;
      }
    }

    &--item {
      min-height: 555px;
      margin-bottom: 54px;

      &:nth-child(2n) {
        margin-right: 20px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .photo__panorama {
    height: 506px;
  }

  .photo--panorama img {
    height: 506px;
  }

  .photo__image img {
    height: 400px;
  }

  .photo__description {
    padding-top: 23px;

    &--panorama {
      padding-right: 31px;
    }
  }

  .photo__list {
    padding-top: 0;
  }

  .photo__like-button {
    width: 14px;
    height: 12px;
    background-size: 14px 12px;
  }
}
