.post {
  background-color: $grey;
  padding-bottom: 41px;
}

.post__photo {
  display: block;
  margin: 0 auto;
  margin-bottom: 42px;
}

.post__photo-tool {
  text-align: center;
  margin-bottom: 73px;
}

.photo-tool__range {
  margin-top: 40px;
}
