body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: ("Open Sans", "Arial", sans-serif);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $blue-grey;
  background-color: $white;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  @include visually-hidden;
}
