.button {
  display: block;
  padding: 15px 30px 16px;
  border: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  &--download {
    width: 280px;
    min-height: 55px;
    margin: 0 auto;
    margin-bottom: 32px;
    padding: 15px 35px;
    border: 3px solid $white;
    border-radius: 30px;
    color: $white;
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: $white;
      color: $pink;
    }

    &:active {
      color: rgba($pink, 0.3);
    }
  }

  &--upload {
  border: 3px solid $pink;
  border-radius: 30px;
  color: $pink;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $white;
    background-color: $pink;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}

  &--cancel {
    border: 3px solid $blue-grey;
    border-radius: 30px;
    color: $blue-grey;
    background-color: transparent;
    opacity: 0.1;

    &:hover,
    &:focus {
      opacity: 0.3;
    }

    &:active {
      background-color: $blue-grey;
      color: $white;
      opacity: 0.3;
    }
  }

  &--submit,
  &--popup {
    padding: 17px 30px 16px;
    border-radius: 3px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: $white;
    background-color: $green;

    &:hover,
    &:focus {
      background-color: $green-dark;
    }

    &:active {
      color: rgba($white, 0.3);
    }

    &:disabled {
      background-color: $grey;
    }
  }
}

.photo__like-button {
  width: 13px;
  height: 12px;
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -1000px;
  overflow: hidden;
  background: url("../../img/icon-heart.svg") no-repeat center;
  background-size: 13px 12px;
}

@media (min-width: $tablet-width) {
  .button {
    &--download {
    margin: 0;
    margin-bottom: 47px;
    width: 300px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &--download {
      font-size: 21px;
      padding: 15px 5px;
      margin-bottom: 67px;
    }
  }

  .photo__like-button {
    width: 14px;
    height: 12px;
    background-size: 14px 12px;
  }
}


