.slider__item--hidden {
  display: none;
}

.slider__toggle-wrapper {
  margin-top: 35px;
}

.slider__toggles {
  @include list-reset;

  display: flex;
  justify-content: space-around;
  width: 75px;
  margin: 0 auto;
}

.slider__toggle {
  @include slider-toggle;

  &--active {
    border: solid 3px $blue-grey;
    background-color: $white;
  }
}

@media (min-width: $tablet-width) {
  .slider__toggle-wrapper {
    margin-top: 37px;
  }
}

@media (min-width: $desktop-width) {
  .slider__toggle-wrapper {
    display: none;
  }
}
